---
title: Doomcasts - Emacs Doom Video Tutorials
description: Doomcasts is a series of video tutorials about Emacs Doom, an Emacs configuration oriented towards Vim people.
---
{% extends "layouts/index.njk" %}
{% block content %}

<div class="row">
  <article class="col-md-12">
    <h1>Doomcasts: Emacs Doom Screencasts</h1>

    {% markdown %}
    A screencast series about [Doom](https://github.com/hlissner/doom-emacs), an Emacs configuration for the Stubborn Martian Vimmer.
    {% endmarkdown %}

    <hr/>

    <div class="row">
      {% for video in website.videos.doomcasts %}
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="/emacs-doomcasts/{{ video.slug }}/">
          <div class="card" style="width: 100%;">
            <img src="/images/doomcasts/emacs-doom-tutorial-{{ video.number }}.png" class="card-img-top img-fluid" alt="Emacs Doom Video Tutorial {{ video.number }}">
            <div class="card-body">
              <small>Episode {{ video.number }}</small>
              <h5 class="card-title">{{ video.title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </article>
</div>

{% endblock %}
