{% extends "layouts/index.njk" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Workshops</h1>
    <ul class="articles">
      {% for workshop in website.workshops %}
      <li>
        <h3><a href="#">{{ workshop.name }}</a></h2>
        <span>{{ workshop.date }} ·</span>
        <div class="tags">
          {% for tag in workshop.tags %}
          <a class="badge badge-pill badge-light" href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
