{% extends "layouts/base.html" %}
{% block content %}

<article class="column is-two-thirds">
  <h1>About</h1>

  {% markdown %}
  I'm a programmer, a technology consultant and [Nukomeet][1] co-founder. I 
  also founded [RuPy Conf][5] and [PolyConf][14] which advocate polyglot 
  programming and bring different programming languages and communities 
  together. Before I worked in banking industry as a Java EE Programmer, a 
  Project Manager and a Business Analyst. I had been involved in various 
  projects related to [Internet Banking][17].

  I studied Computer Science (Artificial Intelligence) at
  [Adam Mickiewicz Univeristy][6] & [Paris-Sud 11 University][7] and Digital
  Business at [HEC Paris][8] & [Télécom ParisTech][9].

  I'm also on [GitHub][11], [Twitter][12].

  [1]: http://nukomeet.com
  [5]: http://rupy.eu
  [6]: http://amu.edu.pl
  [7]: http://en.wikipedia.org/wiki/University_of_Paris-Sud
  [8]: http://en.wikipedia.org/wiki/HEC_Paris
  [9]: http://en.wikipedia.org/wiki/T%C3%A9l%C3%A9com_ParisTech
  [11]: http://github.com/zaiste
  [12]: http://twitter.com/zaiste
  [14]: http://polyconf.com
  [17]: http://en.wikipedia.org/wiki/Online_banking
  {% endmarkdown %}
  {% endblock %}
</article>
