{% extends "layouts/index.njk" %}
{% block content %}
<div class="columns">
  <div class="column lead">
    <h1>Hi! I'm Zaiste</h1>
    <h2>I help companies & brands build great software products.</h2>

    <hr>

    <p>
      <small>I'm in the process of making my personal notes public. They are written using <a href="https://orgmode.org/">Org Mode</a>.
        I manage them directly from <a href="https://www.gnu.org/software/emacs/">Emacs</a>. Then, they are converted to HTML on-the-fly as-is by <a href="https://kulfon.org/">Kulfon</a>.
        Feel free to pick up my brain for anything related to <a href="/programming">programming</a>,
        <a href="/databases">databases</a>, <a href="/ai">AI</a> or <a href="/sleep">sleep</a>.
      </small>
    </p>
  </div>
</div>
{% endblock %}
