{% extends "layouts/index.njk" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Posts</h1>
    <ul class="articles">
      {% for post in pages('posts') %}
      <li>
        <h4><a href="/{{ post.filepath }}">{{ post.title }}</a></h4>
        <span>{{ post.created_at | date }} ·</span>
        <div class="tags">
          {% for tag in post.tags %}
          <a class="badge badge-pill badge-light" href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
