{% extends "base.html" %}

{% block title %}
Topics
{% endblock title %}

{% block content %}
<div class="max-w-screen-xl mx-auto py-4 lg:py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl leading-tight text-cool-gray-600 font-medium mb-4">
    My courses
  </h1>
  <div class="mt-6 grid grid-cols-1 gap-1 lg:mt-8">
    {% for page in section.pages %}
    <a href="{{ page.slug }}" class="rounded border-2 border-blue-100 col-span-1 flex justify-between items-center py-8 px-8 hover:bg-gray-100 hover:border-blue-200">
      <div>
        <h4 class="text-2xl">Full-Stack TypeScript</h4>
        <div class="text-gray-500">Some description</div>
      </div>
      <div>
        <span
          class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-indigo-100 text-indigo-800">
          Free
        </span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}