{% extends "base.html" %}
{% block content %}
<div class="max-w-screen-xl mx-auto py-4 lg:py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl leading-tight text-cool-gray-600 font-medium mb-4">{{ section.title }}</h1>

  <div class="markdown">
    {{ section.content | safe }}
  </div>
</div>

<section class="bg-gray-100">
  <div class="max-w-screen-xl mx-auto py-4 lg:py-8 px-4 sm:px-6 lg:px-8">
    <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
      {% for video in section.pages %}
      <div class="flex flex-col rounded border border-gray-200 hover:shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover"
            src="{{ section.title | slugify }}-{{ video.extra.number }}.png"
            alt="" />
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm leading-5 font-medium text-blue-600">
              {{ section.title }} {{ video.extra.number }}
            </p>
            <a href="{{ video.slug }}" class="hover:bg-gray-50">
              <h3 class="mt-1 text-xl leading-7 font-semibold text-gray-900">
                {{ video.title }}
              </h3>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{ video.description }}
              </p>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}