<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{ config.extra.desc }}">

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ config.extra.desc }}" />
<meta property="og:title" content="{{ config.extra.title }}" />
<meta property="og:site_name" content="Zaiste Programming" />
<meta property="og:image" content="{{ config.extra.image_url }}" />
<meta property="og:image:type" content="{{ config.extra.image_type }}" />
<meta property="og:image:width" content="{{ config.extra.image_width }}" />
<meta property="og:image:height" content="{{ config.extra.image_height }}" />
<meta property="og:url" content="{{ current_url | safe }}">
<meta property="og:locale" content="en_US">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@zaiste">
<meta name="twitter:title" content="{{ config.extra.title }}">
<meta name="twitter:creator" content="@zaiste">
<meta name="twitter:description" content="{{ config.extra.desc }}">
<meta name="twitter:image:src" content="{{ config.extra.image_url }}">
<meta name="twitter:domain" content="zaiste.net">