{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-xl mx-auto py-4 lg:py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl leading-tight text-cool-gray-600 font-medium mb-4">
    {{ page.title }}
  </h1>

  <div class="mt-6 grid grid-cols-2 gap-2 md:grid-cols-3 lg:my-8">
    {% if page.extra.howtos %}
    <a href="{{ page.path }}howtos/" class="col-span-1 shadow flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
      <div class="text-gray-800 font-medium"><span class="text-gray-500">{{ page.title }}</span> HowTos</div>
    </a>
    {% endif %}
    {% if page.extra and page.extra.libs %}
    <a href="{{ page.path }}{{ page.extra.libs | slugify }}/" class="col-span-1 shadow flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
      <div class="text-gray-800 font-medium"><span class="text-gray-500">{{ page.title }}</span> {{ page.extra.libs }}</div>
    </a>
    {% endif %}
  </div>

  <div class="markdown">
    {{ page.content | safe }}
  </div>
</div>

{% endblock content %}