{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-xl mx-auto py-4 lg:py-8 px-4 sm:px-6 lg:px-8">
  {% set section = page.components | reverse | nth(n=1) %}
  {% if page.extra.category and page.extra.category == 'How-To' or section == 'howtos' %}
  <span class="font-bold tracking-wide uppercase inline-block text-cool-gray-600">How To</span>
  {% endif %}
  <h1 class="text-4xl leading-tight text-cool-gray-600 font-medium border-b border-gray-300 pb-1 mb-4">
    {{ page.title }}
  </h1>

  {% include "topics.html" %}

  {% if page.extra.howtos %}
  <div class="mt-6 grid grid-cols-2 gap-2 md:grid-cols-3 lg:my-8">
    <a href="{{ page.path }}howtos/"
      class="col-span-1 shadow flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
      <div class="text-gray-800 font-medium"><span class="text-gray-500">{{ page.title }}</span> HowTos</div>
    </a>
  </div>
  {% endif %}

  <div class="markdown">
    {{ page.content | safe }}
  </div>

  {% if page.taxonomies.topics %}
    {% if page.taxonomies.topics is containing("Flutter") %}
      {% include "related-course.html" %}
    {% endif %}
  {% endif %}
</div>

{% endblock content %}