{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-4 lg:col-span-3">
      <div class="header mb-8">
        <h1 class="text-4xl leading-tight text-gray-600 font-medium">
          {{ page.title | replace(from="*", to="")}}
        </h1>
        {% if page.extra.subtitle %}
        <div class="text-gray-500 mb-2 text-lg font-semibold">{{ page.extra.subtitle }}</div>
        {% endif %}

        <hr/>

        {% include "topics.html" %}

        <div class="text-gray-500">
          {{ page.date | date(format="%Y-%m-%d") }}
        </div>
      </div>

      <div class="markdown">
        {{ page.content | safe }}
      </div>

      {% if page.taxonomies.topics %}
        {% if page.taxonomies.topics is containing("Flutter") %}
          {% include "related-course.html" %}
        {% endif %}
      {% endif %}
    </div>
    <aside class="sticky top-0">
      <p class="uppercase text-sm text-gray-600 font-semibold">Table of Contents </p>
      <ul class="mt-2">
        {% for h1 in page.toc %}
        <li class="mb-1">
          <a class="flex items-center py-2 p2-4 block text-gray-500 border-l-2 border-gray-400 border-white bg-gray-50 hover:bg-gray-100 hover:text-gray-700 hover:border-gray-700"
            href="{{ h1.permalink | safe }}">
            <span class="mx-4 font-medium text-sm">{{ h1.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</div>
{% endblock content %}