<div class="py-2 sm:py-4">
  <div class="max-w-screen-xl">
    <div class="p-2 rounded-lg bg-cool-gray-600 shadow-lg sm:p-3">
      <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
          <p class="ml-1 font-medium text-white truncate">
            <span>
              By the way, check my free Flutter course on YouTube
            </span>
          </p>
        </div>
        <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
          <div class="rounded-md shadow-sm">
            <a href="https://www.youtube.com/watch?v=MbUey9oquuU&list=PLhXZp00uXBk5TSY6YOdmpzp1yG3QbFvrN" class="flex items-center justify-center px-4 py-1 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-500 hover:text-gray-200 focus:outline-none focus:shadow-outline transition ease-in-out duration-150">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
