<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ page.title or website.title }} · zaiste.net{% endblock %}</title>

    {% include "meta.html" %}

    <link rel="dns-prefetch" href="//ssl.google-analytics.com">
    <link rel="dns-prefetch" href="//api.eventil.com">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="canonical" href="{{ config.base_url }}/{{ page.path }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/{{ bundles.css }}" rel="stylesheet">
    {% block head %}{% endblock %}

    {% include "analytics.html" %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">Z</a>

        <div class="w-100">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/posts/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/speaking/">Talks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workshops/">Workshops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
          </ul>
        </div>

        <div class="w-100">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/flutter-in-practice/">Flutter in Practice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doomcasts/">Doomcasts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Zaiste</h3>
            <p>I'm a programmer, a technology consultant and <a href="https://nukomeet.com">Nukomeet</a> co-founder. I've also founded <a href="https://rupy.eu">RuPy Conf</a> and <a href="https://polyconf.com">PolyConf</a> which advocate polyglot programming and bring different programming languages and communities together. I'm building an event management platform for tech people at <a href="https://eventil.com">Eventil</a>.</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li><h3>Zaiste</h3></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/speaking/">Speaking</a></li>
              <li><a href="/workshops/">Workshops</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li><h3>Open Source</h3></li>
              <li><a href="https://huncwot.org/">Huncwot</a></li>
              <li><a href="https://kulfon.net/">Kulfon</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="bottom">
      <div class="container">
        Copyright © 2019 All rights reserved.

        <div class="is-pulled-right">Powered by <a href="https://kulfon.org">Kulfon</a>.</div>

      </div>
    </div>

    <script defer src="https://js.eventil.com/v1/"></script>
    <script defer type="text/javascript" src="/{{ bundles.js }}"></script>
  </body>
</html>
